.Forms
{
    text-align: center;
    align-items: center;
}

.Blog
{
    text-align: center;
    align-items: center;
}

.author{
    text-align: center;
}

.form-blog
{
    text-align: left;
    width: 80px;
    

}
